* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #343541;
    color: #fff;
}

.chat-app {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 270px;
    background: #202123;
    padding: 15px;
    margin: 30px;
    border-radius: 20px;
}

.sidebar h2 {
    margin-bottom: 15px;
}

.sidebar ul li {
    list-style: none;
    padding: 10px;
    cursor: pointer;
}

.sidebar ul li:hover {
    background: #2a2b32;
}









